[submodule "thirdparty/cpr"]
	path = thirdparty/cpr
	url = git@github.com:libcpr/cpr.git
[submodule "thirdparty/imgui"]
	path = thirdparty/imgui
	url = git@github.com:ocornut/imgui.git
[submodule "thirdparty/ImGuiFileDialog"]
	path = thirdparty/ImGuiFileDialog
	url = git@github.com:aiekick/ImGuiFileDialog
[submodule "thirdparty/nlohmann_json"]
	path = thirdparty/nlohmann_json
	url = git@github.com:nlohmann/json.git
[submodule "thirdparty/glfw"]
	path = thirdparty/glfw
	url = git@github.com:glfw/glfw
[submodule "thirdparty/argparse"]
	path = thirdparty/argparse
	url = git@github.com:p-ranav/argparse.git
